.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1440px;
  margin-top: 20px;
  z-index: 9;
}
.logo {
  width: 200px;
}
.logo svg {
  width: 200px;
  color: #393c40;
}
.NavBar a {
  padding: 4px 7px;
  transition: all 0.3s;
}
.models {
  display: flex;
  align-items: center;
  gap: 24px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.menu a:hover,
.models a:hover {
  background-color: rgba(37, 37, 37, 0.4);
  border-radius: 10px;
}
